<%- include('layout', { 
  body: '<div class="about-page">' +
    '<h2 class="about-title">关于</h2>' +
    '<div class="about-content">' +
      '<p>此页未开放，测试中</p>' +
      '<p>这是一个简单的日记应用，您可以在这里记录您的生活点滴。</p>' +
      '<p>使用 <a href="https://github.com/wzwzx/diary-cli" target="_blank">Diary</a> 搭建。</p>' +
    '</div>' +
  '</div>'
}) %> 