<%- include('layout', { 
  body: '<div class="archives">' +
    '<h2 class="archive-title">归档</h2>' +
    
    (Object.keys(archives).length ? 
      '<div class="archive-content">' +
        Object.keys(archives).sort((a, b) => b - a).map(function(year) {
          return '<div class="archive-year">' +
            '<h3 class="year-title">' + year + '</h3>' +
            
            Object.keys(archives[year]).sort((a, b) => b - a).map(function(month) {
              return '<div class="archive-month">' +
                '<h4 class="month-title">' + year + '年' + month + '月</h4>' +
                
                '<ul class="month-posts">' +
                  archives[year][month].map(function(post) {
                    const postUrl = '/post/' + post.id + (typeof isServer !== 'undefined' && isServer ? '' : '.html');
                    return '<li class="month-post">' +
                      '<span class="post-date">' + moment(post.date).format('MM-DD') + '</span>' +
                      '<a href="' + postUrl + '">' + post.title + '</a>' +
                    '</li>';
                  }).join('') +
                '</ul>' +
              '</div>';
            }).join('') +
          '</div>';
        }).join('') +
      '</div>'
    : 
      '<div class="no-archives">' +
        '<p>暂无归档内容</p>' +
      '</div>'
    ) +
  '</div>'
}) %> 