<%- include('layout', { 
  body: '<div class="diary-list">' +
    '<div class="diary-header">' +
      '<h2 class="diary-title">日记列表</h2>' +
      (config.debug === true ? '<div style="color: red; margin: 10px 0;">找到 ' + (posts ? posts.length : 0) + ' 篇日记</div>' : '') +
    '</div>' +
    
    '<div class="diary-entries">' +
    (posts && posts.length ? 
      posts.map(function(post, index) {
        const postUrl = '/post/' + post.id + (typeof isServer !== 'undefined' && isServer ? '' : '.html');
        return (
          '<article class="diary-entry" data-index="' + index + '">' +
            '<header class="diary-meta">' +
              '<time class="diary-date">' + moment(post.date).subtract(8,'hours').format('YYYY-MM-DD HH:mm') + '</time>' +
              (config.debug === true ? '<span class="post-number" style="color: blue;">[文章 #' + (index + 1) + ']</span>' : '') +
              (post.tags && post.tags.length ? 
                '<div class="diary-tags">' +
                  post.tags.map(function(tag) {
                    return '<span class="diary-tag">#' + tag + '</span>';
                  }).join('') +
                '</div>' 
              : '') +
            '</header>' +
            '<div class="diary-content">' +
              '<h3 class="entry-title"><a href="' + postUrl + '">' + post.title + '</a></h3>' +
              '<a class="read-more" href="' + postUrl + '">阅读全文 →</a>' +
            '</div>' +
          '</article>'
        );
      }).join('\n')
    : 
      '<div class="no-diaries"><p>还没有日记，快去写一篇吧！</p></div>'
    ) +
    '</div>' +
  '</div>'
}) %> 